git+https://github.com/OperavonderVollmer/OperaPowerRelay.git
git+https://github.com/OperavonderVollmer/PluginTemplate.git
git+https://github.com/OperavonderVollmer/TrayIcon.git
pywin32 
psutil
pillow
pystray
winotify

